.slick-prev {
  left: -3% !important;
  background-color: darkblue !important;
  z-index: 1;
}

.slick-next {
  right: -3% !important;
  background-color: darkblue !important;
  z-index: 1;
}
